[submodule "modules/fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf
[submodule "modules/zsh-syntax-highlighting"]
	path = modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "modules/diff-so-fancy"]
	path = modules/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "modules/zsh-autosuggestions"]
	path = modules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "modules/alias-tips"]
	path = modules/alias-tips
	url = https://github.com/djui/alias-tips
