[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "forgit"]
	path = forgit
	url = https://github.com/wfxr/forgit.git
